/* место для вашего кода */
@import url('../fonts/fonts.css');
@import url('global.css');

address {
  font-style: normal;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, auto);
  align-items: center;
  width: 1340px;
  height: 109px;
  margin: 92px auto;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  flex-flow: row nowrap;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link-active {
  text-decoration: none;
}

.header__logo {
  justify-self: center;
  align-self: start;
  width: 140px;
  height: 100px;
}

.header__address {
  justify-self: end;
}

.address {
  width: 240px;
  line-height: 135%;
  font-size: 18px;
  font-style: normal;
}

.cover {
  position: relative;
  z-index: 0;
  background: url('../images/cover.jpg') no-repeat center / cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.cover__title {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  width: 1340px;
  margin: 0 auto;
  padding: 165px 0 147px;
  color: white;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
  z-index: 2;
}

.aligned-text {
  line-height: 115px;
  text-align: start;
}

.aligned-text_center {
  line-height: 100px;
  text-align: center;
}

.aligned-text_end {
  line-height: 100px;
  text-align: end;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  padding-bottom: 62px;
  z-index: 2;
}

.cover__description-text {
  color: white;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  margin-left: 422px;
  text-transform: uppercase;
  word-spacing: 17.5px;
}

.bet-button {
  position: absolute;
  right: 50px;
  bottom: 50px;
  border: 1.5px solid white;
  padding: 12px 32px;
  color: white;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
}

.lots {
  margin: 180px auto auto;
  width: 1340px;
}

.lots__heading {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  margin: auto auto 27px 40px;
}

.lots__card-list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  gap: 25px;
  justify-content: center;
  margin-bottom: 30px;
}

.lots__card-list-item {
  width: 430px;
  min-height: 450px;
}

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
  color: white;
  cursor: pointer;
}

.card {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;
  z-index: 0;
}

.card_type_film {
  background: url('../images/card-lot-01.jpg') no-repeat center / cover;
}

.card_type_book {
  background: url('../images/card-lot-02.jpg') no-repeat center / cover;
}

.card_type_picture {
  background: url('../images/card-lot-03.jpg') no-repeat center / cover;
}

.card__title {
  position: relative;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
  z-index: 2;
  margin: 50px 40px auto;
}

.card__text {
  position: relative;
  z-index: 2;
  margin: auto 40px 50px;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  text-decoration: underline;
  font-size: 20px;
  cursor: pointer;
  margin-left: 40px;
}

.about {
  margin: 180px auto;
  display: grid;
  grid-template-columns: 430px auto;
  gap: 25px;
  width: 1340px;
}

.about__column {
  display: flex;
  flex-flow: column nowrap;
  gap: 100px;
}

.about__logo {
  width: 240px;
  height: 240px;
  margin: 0 auto auto;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 100px;
}

.about__text {
  font-size: 20px;
}
.about__text :not(:last-child) {
  margin-bottom: 25px;
}

.footer {
  width: 1340px;
  display: flex;
  flex-flow: row wrap;
  height: 97px;
  justify-content: space-between;
  align-items: start;
  margin: 180px auto 90px;
}

.footer__menu {
  text-align: center;
  font-size: 18px;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  width: 240px;
  flex-flow: row wrap;
  list-style: none;
  justify-content: space-between;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
